/* boje:
tamnocrvena #3F0812
bez #EDC8A8, #E8C3A9, #F2D4BF
rose #F4B0A8, #EF97B0
*/


/* - - - - - - - - - - - - - -- - - - - - - - - -- - - - - -- - - - - - -- - - - - - - - - - -- - - - - - - - - - - - - - */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* ______________________________________________________________________________________________________________________ */

nav {
    padding: 1%;
    background-color: #3F0812;
    color: #F2D4BF;
    overflow: hidden;
}

nav h1 {
    float: left;
    margin-left: 18%;
    margin-top: 0.3%;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 2.5rem;
    font-family: 'Amaranth', arial, sans-serif;
}

nav ul {
    float: right;
    margin-right: 10%;
    margin-top: 0.5%;
    width: 23%;
    font-size: 1.2rem;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #F2D4BF;
    padding: 2%;
}

nav a:hover {
    background-color: #F2D4BF;
    color: #3F0812;
    border-bottom: 4px solid #EF97B0;
}


/* nav li:hover {
    border-bottom: 2px solid #3F0812;
} */


/* ______________________________________________________________________________________________________________________ */

header {
    background-image: url('../images/policavina.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    text-align: center;
    color: #F2D4BF;
}

header h1 {
    display: inline-block;
    width: 30%;
    margin: auto;
    margin-top: 16%;
    padding: 1%;
    background-color: #3F0812;
    font-family: 'Amaranth', arial, sans-serif;
    font-size: 3rem;
}

header p {
    width: 25%;
    margin: auto;
    margin-top: 2%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
}


/* ______________________________________________________________________________________________________________________ */


/* main {}

main section {}

main section article {}

address {}

.label {}

.value {}

iframe {} */


/* ______________________________________________________________________________________________________________________ */


/* footer {}

footer section {}

footer ul li {}

footer footer {} */